{% extends 'base.html.twig' %}

{% block title %}
	{{ category.name }}
{% endblock %}

{% block body %}

	<h1>{{ category.name }}</h1>

	<a href="{{ path('category_edit', {'category': category.name}) }}">
		Modifier
	</a>
	{{ dump(posts) }}

{% endblock %}
