{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}

{% for item in categories %}
    <a href={{ path('category', {category: item.name}) }}>{{ item.name }}</a>
{% endfor %}

{{ dump(posts) }}

{% endblock %}
