{% extends 'base.html.twig' %}

{% block title %}
    Nouvelle catégorie
{% endblock %}

{% block body %}
	<h1>Nouvelle catégorie</h1>
    <p>
        TODO: Add form to add new category
    </p>
{% endblock %}
