{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <h1>Modifier le post {{ post.titile}}</h1>

    <div>
        {{ form(editedForm) }}
    </div>
{% endblock %}