{% extends 'base.html.twig' %}

{% block title %} {{ post.title }} {% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ post.title }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/marjorie/Documents/symfony/blog-sf-tp/blog-sf1601/src/Controller/PostController.php'|file_link(0) }}">src/Controller/PostController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/marjorie/Documents/symfony/blog-sf-tp/blog-sf1601/templates/post/index.html.twig'|file_link(0) }}">templates/post/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
